*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
#body{
	/*background-image:url(../images/pgmc.png),url(../images/gradient2.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat,repeat;
	background-color: rgba(6, 69, 170,0.1);
	height: 100vh;
	background-blend-mode: darken;*/
	background-color: #EBF7F5/*#B9D1CF*/;

}
#container{
	background-image: url(../images/pgmc.png),url(../images/gradient.png),url(../images/gradient2.jpeg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat, repeat;
	height: 100vh;
	background-blend-mode: darken;
	position: relative;
}

/*.banner:after{
	content: "";
	background-image: url(../images/pgmc.png),url(../images/gradient2.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat,repeat;
	/*background-color: rgba(6, 69, 170,0.1);
	background-blend-mode: darken;
	width: 100%
	height:100%;
	top: 0;
	left: 0;
	opacity: 0.5;
	position: absolute;
	z-index: -1;
}*/

header{
	width: 100%;
	background-color: #1D1B55;
	position: fixed;
	top:0;
	z-index: 10;	
}
#header a{
	padding-bottom: 0;
}

.navbar{

}


.logo{
	height: 60px;
	width: 60px;
}
.list-link>ul>li:hover{
	border-bottom:  1px solid red;
}
.list-link{
	
}
.list{
	
}
section{

}

#goto{
	margin-left: 78px;
}

#jumbotron{
	background-color: rgba(52, 152, 219,0.9);
	margin-top: 50px;
	font-family: 'Montserrat';
	/*top: 30%;
	left: 30%*/;
	top: 80px;
	left: 0;
	position: absolute;
}

#left-link{
	margin-left: 72.666667%;
}

img[src*="facility"]{
	width: 300px;
	height: 500px;
}
#about-car{
	margin-bottom: 50px;
	z-index: 5;
}
#about-car:after{
	content: "";
	width: 100%;
	height: 600px;
	background-color: #671e7c;
	display: block;
	-webkit-clip-path: polygon(100% 33%, 100% 100%, 75% 100%, 0% 100%, 0 33%, 50% 52%);
	clip-path: polygon(100% 33%, 100% 100%, 75% 100%, 0% 100%, 0 33%, 50% 52%);
	clear: both;
	position: absolute;
	top: 100%;
	left: -0%;
	z-index: -1;
}

#about-car h2{
		background-color: #ffc107;
		
	}

/*home page*/

#comp-name{
	background-color:#17a2b8;
	border-top-right-radius: 20px; 
	width: 60%;
	height: 65px;
	line-height: 63px;
	margin-left: -128px;
	padding-right: 20px;
}
#comp-tag{
	background-color: rgba(52, 73, 94,1.0);
    width: 59.9%;
	margin-top: -8px;
	padding-left: 123px;
	margin-left: -128px;
}

/*#car-top{
	height: 0px;
}*/


#car-text{
	background-color: rgba(255,235,59,0.7);
	font-size: 50px;
	width: 50%;
	margin-left: -167px;
	border-top-right-radius: 20px;
}


#jumbo-land{
	background-image:url(../images/healthcare.png),url(../images/geo.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 0;
	background-blend-mode: darken;
	width: 100%;
}

#jumbotron-section{
	z-index: 2
}

.container h1,p{
	color: #f2f2f2;
}
.w-100{
	margin-top: 5%;
	height: 400px;
	width: 100%;
}	

#carousel-home{
	height: 538px;
	width: 80%;
	margin: 0 auto;

}

#slide-jumbo{
	background-color: rgba(64, 64, 122,0.9);
	border-radius: 0;
	-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
	clip-path: polygon(50% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
}

footer{
	border-top: 1px solid red;
	background-color: #110016;
}
footer h3{
	font-size: 20px;
	border-left: 1px solid #FF8926;
}
/*footer small{
	line-height: -5px;
}*/
#sub-foot{
	background-color: rgba(255, 121, 63,1.0);
}


#social-i{

}
#social-i a:hover{

	color: white;
}
#social-i i{
	font-size: 30px;
	padding: 0 20px;
}
#social-col{
	border-left: 2px solid #2c0338;
	margin: 0;
}
#footer-name{
	color: #b4b0b0;
	letter-spacing: 5px;
/*	margin-top: 65px;
	margin-left: 144px;*/

	/*margin-left: 94px;*/
}
#footer-name p{
	color: #b4b0b0;
	font-family: "Ubuntu", arial;
}
/*#footer-name small{
	letter-spacing: 0;
	color: #626262;
	font-family: "Ubuntu", arial;
	margin-left: 94px;
}*/
/*#copy{
	margin-left: 135px;
}*/
/*#all{
	margin-left: 180px;
	font-size: 10px;
	letter-spacing: 0;
}*/
.all{
	margin-left: 313px;
}
#footer-name>.allright{
	font-size: 12px;
	letter-spacing: 0;
	margin-left: -38px;
}
#footer-name>.allright i{
	color: #f2f2f2;
}

/*end of home page*/

/*about page*/
	#about-container{
		margin-top: 4%;
	}

	#card-about{
		border-left: 2px solid #e74c3c; 
	}
	#card-mission{
		border-right: 2px solid #3498db;
	}
	#card-vision{
		border-left: 2px solid #e74c3c;
	}

/* end of about page*/



/*services page*/
	#service-group{
		margin-bottom: 50px;		
	}

	#service-bg{
		background-image: url(../images/service-bg.jpg),url(../images/gradient2.jpg);
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		background-blend-mode: overlay;
	}

	.accordion{
		/*margin-top:90px; */
	}

	#service-head{
		margin: 70px 0 0 0;
	}

	#service-list1{
		background-image: url(../images/outpatient.jpg);
		background-size: cover;
		background-position: top center;
		background-repeat: no-repeat;
		background-attachment: fixed;

	}
	#service-list2{
	background-image: url(../images/outpatient.jpg);
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	background-blend-mode: darken;
	background-attachment: fixed;

	}
	#service-list3{
	background-image: url(../images/outpatient.jpg);
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;

	}
	#service-list4{
	background-image: url(../images/outpatient.jpg);
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	border-bottom: 2px solid #e74c3c;


	}
	#service-head{
		height: 80px;
		width: 50%;
		background-color: #3498db;
		-webkit-clip-path: polygon(59% 0, 100% 100%, 100% 100%, 0 100%, 0 0);
		clip-path: polygon(59% 0, 100% 100%, 100% 100%, 0 100%, 0 0);
	}
	#service-head>h1{
		line-height: 100px;
		color: #ecf0f1;
		margin-left: 20px;
		border-left: 2px solid #2980b9;
		padding-left: 10px;
	}
	#service-container{
		left: -40px;
		position: relative;
		z-index: 1;
	}
	.head-side{
		height: 100px;
		width: 100px;
		background-color: #2980b9;
		position: absolute;
		top: 22.40%;
		left: 1%;
		z-index: 0;
		-webkit-clip-path: polygon(100% 0, 19% 0, 100% 100%);
		clip-path: polygon(100% 0, 19% 0, 100% 100%);
	}
	#fas{
		color: #d35400;
		border-bottom: 2px solid #2980b9;
		padding-bottom: 2px;
	}
	.btn>h5{
		color: #d35400;
		font-weight: bold;
		font-size: 20px;
		transition-property: background,color;
		transition-duration: 1.50s;
		transition-timing-function: linear;

	}
	.btn>h5:hover{
		color: rgba(241, 196, 15,1.0);
		font-size: 30px;
		background-color: rgba(52, 152, 219,0.5);
		padding: 15px;
		border-radius: 5px;
		border-left: 2px groove rgba(231, 76, 60,0.5);

	}

	#collapse4,
	#collapse3,
	#collapse2,
	#collapse1
	{
		border-bottom: 2px solid #e74c3c; 
	}

	#emergency{
		background-image: url(../images/emergency.jpg),url(../images/gradient.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-blend-mode: darken;
	}
	#emergency>p{
		color:#f2f2f2;
		font-weight: bold;
		background-color: rgba(211, 84, 0,0.90);
		padding: 20px;
		border-radius: 10px;
	}

	#outpatient{
		background-image: url(../images/doctors3.jpg),url(../images/gradient.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: right;
		background-blend-mode: darken;
	}
	#outpatient>p{
		color:#f2f2f2;
		font-weight: bold;
		background-color: rgba(211, 84, 0,0.90);
		padding: 20px;
		border-radius: 10px;
	}
	#surgical{
		background-image: url(../images/doctors3.jpg),url(../images/gradient.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: right;
		background-blend-mode: darken;
	}
	#surgical>p{
		color:#f2f2f2;
		font-weight: bold;
		background-color: rgba(211, 84, 0,0.90);
		padding: 20px;
		border-radius: 10px;
	}
	#laboratory{
		background-image: url(../images/laboratory.jpg),url(../images/gradient.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: right;
		background-blend-mode: darken;
	}
	#laboratory>p{
		color:#f2f2f2;
		font-weight: bold;
		background-color: rgba(211, 84, 0,0.90);
		padding: 20px;
		border-radius: 10px;
	}


/*end of services page*/



/*contact*/
#contact-container{
	padding: 0;
	position: relative;

}

#map{
	width: 100%;
	border-left: 1px solid #2980b9;
	padding-left: 0;
	position: relative;
	left: -4%;
}

#map-head{
	margin-left: 25%;
	background-color:#e74c3c;
	-webkit-clip-path: polygon(0 0, 63% 0, 100% 100%, 0% 100%);
	clip-path: polygon(0 0, 63% 0, 100% 100%, 0% 100%);
}
#map-head>h2{
	font-size:30px;
	color: #f2f2f2; 
}
.side{
	background-color: #c0392b;
	margin-left: 25.6%;
	padding: 0;
	height: 30px;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 46% 49%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 46% 49%);
	position: relative;
}
#side{
	/*padding-right: 0!important;*/
}

#form{
	background-image: url(../images/contact.jpg),url(../images/gradient2.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-blend-mode: darken;
	background-color: rgba(26, 188, 156,0.9);
	border-bottom: 1px solid red; 
}
label[for]{
	color: #f2f2f2;
	background-color: rgba(230, 126, 34,1.0);
	padding: 5px;
	margin-bottom: 0;
	border-right: 5px solid #2980b9;
}
input[id]{
	border-radius:  0;
}

#contact-bg{
	background-color: rgba(39, 174, 96,0.1);
	padding: 0;
}

/*end of contact*/




#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}


/*Desktop*/
@media	only screen and (min-width: 961px){
	#about-car:after{
	top: 170%;
	}

	#social-i i{
  	margin-left: 50px;
  	}
	#footer-name .allright{
	font-size: 12px;
	letter-spacing: 0;
	margin-left: -50px;
	}
	#footer-name>.allright i{
	color: #f2f2f2;
	}

	.head-side{
		top: 149px;
	}
	.all{
		margin-left: 22%;
	}
	#map{
		margin-left: 32%;
		margin-top: -3%;
		z-index: 1;
	}
	#side{
		width: 11%;
		margin-left:25%;
		z-index:-2; 
	}
	#map-head{
		margin-left: 25%;
		z-index: 5;
	}
	#goto{
		margin-left: 142px;
	}
}






/*tablet style*/
@media only screen and (min-width: 401px) and (max-width: 960px){
/*	#social-i {
		margin-left: 1!important;
	}


	#social-i i{
		padding:0 10px;
		font-size: 30px;

	}*/
		#comp-name{
    font-size: 30px;
    width: 67%;
    height: 60px;
    margin-left: -47px;
	}

	#comp-tag{
    width: 78.9%;
	padding-left: 117px;
	}

	#about-car:after{
	top: 120%;
	}

	#car-text{
	font-size: 33px;
	width: 44%;
	margin-left: -105px;
	}
	#copy{
		margin-left: -9px;
	}

	
	.all{
	    margin-left: 121px;
	    font-size: 8px;
	    letter-spacing: 1px;

	}
	#map-head{
		margin-left: 186px;
	}
	#side{
		position: absolute;
		margin-left: 181px;
		width: 80px;
	}
	#map{
		margin-left: 256px;
		padding: 0;
	}
	#left-link{
		margin-left: 312px;
	}

}

/*mobile*/
@media only screen  and (max-width:400px){

	#comp-name{
	font-size: 25px;
    width: 121%;
    height: 53px;
    margin-left: -32px;
	}

	#comp-tag{
    width: 153.9%;
	padding-left: 108px;
	}

	#car-text{
	
	}

	#about-car:after{
		top: 185%;
	}


	img[src*="facility"]{
		height: 300px;
	}

	#jumbotron{

	}

	#goto{
			left: -15%;
		}

	.btn>h5:hover{
		color: rgba(241, 196, 15,1.0);
		font-size: 20px;
		padding: 5px;
		border-left: 2px groove rgba(231, 76, 60,0.5);
	}

	#service-list1{
	background-position: right;
	}

	#service-list2{
	
	background-position: right;
	}

	#service-list3{
	background-position:right;
	}

	#service-list4{
	background-position:  right;
	border-bottom: 2px solid red;
	}
	
		

	#service-head{
		width: 100%;
	-webkit-clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
	clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
	}

	.head-side{
		visibility: hidden;
	}



	#goto{
	margin-left: 33px;
	}

	#jumbotron{
		margin-top: 80px;
		left:-24%;
		top: 50%;
		position: absolute;
	}

	#map{
	width: 100%;
	border-left: 1px solid #2980b9;
	padding-left: 0;
	padding-right: 0;
	position: relative;
	left: 0;
	}

	.side{
	background-color: #c0392b;
	margin-left: 0;
	padding: 0;
	height: 30px;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 46% 49%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 46% 49%);
	position: relative;
	}

	#map-head{
	margin-left: 0%;
	margin-top: -1%;
	height: 100px;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}

	#map-head>h2{
	font-size:30px;
	color: #f2f2f2;
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 25%; 
	line-height: 100px;
	}

	#jumbo-land:before{
	content:"";
	display: block;
	margin-top: 100px;

	}
	footer small:after{
		content: "";
		display: block;
	}

		#social-i {
		
		margin-top: 50px;
		margin-left: 95px;
		
  		}

  		#social-i i{

  		padding: 0;	
	  	}

	  	
		#footer-name .allright{
		margin-bottom: 50px;
		margin-left: 79px;
		}
		#footer-name>.allright i{
		}
		#footer-name{
		width: 100%;
		text-align: center;
		letter-spacing: 0;
		font-size: 15px;
		margin-top: 50px;
		margin-left: 25px;

		}
		#social-col{
			margin-left: -100px;
			border-left: none;
			padding: 0;
		}
		#footer-name>p{
			margin-left: 153px;
			margin-bottom: -2px;
		}
		footer{
			height: 100vh;
		}
/*		#stay{
			margin-top: 80px;
			padding-left: 50px;
		}
		/*#stay small{
			text-align: 
			margin-left: 12px;
			padding: 0;
		}*/
		#stay>input[type="text"]{
			margin-left: 22px;
		}
		#footer-name>.allright{
		margin-left:72px;
		}
		#footer-name>#copy{
			margin-left: 145px;
		}
		.all{
			margin-left: 114px;
		}
		#left-link{
			margin-left: -0.333333%;
		}
}





/*mobile*/
/*@media only screen  and (max-width: 768px) 
   {

  		.head-side{
  			visibility: hidden;
  		}
  		.navbar-nav{
  			left: -18%;
  		}
  		#footer-name>.copy{
			margin-top: -100px;
			margin-left: 55px;
		}
	
		#all{
			margin: 0;
		}
		#social-i i {
	    font-size: 35px;
	    margin: 0px 13px;
	    }
	    #left-link{
	    	margin-left: 18.666667%;
	    }
 }	*/


  }

